server:
  # Immich domain or IP (fill in by user)
  host: "<YOUR_HOST_OR_IP_HERE>"
  # Port where Immich listens
  port: 2283
  # Immich API key (fill in by user)
  api_key: "<YOUR_API_KEY_HERE>"
enable_album_name_strip: true
enable_checkpoint_resume: true
filters: null
conversions:
- source:
    tag_names:
    - meme
    album_name_patterns: null
    asset_links: null
  destination:
    tag_names:
    - autotag_input_meme
    album_name_patterns: null
    asset_links: null
- source:
    tag_names:
    - adult_meme
    album_name_patterns: null
    asset_links: null
  destination:
    tag_names:
    - autotag_input_adult_meme
    album_name_patterns: null
    asset_links: null
classification: # Rules to classify assets by tags or album name patterns.
  rules:
  - tag_names:
    - meme
    - autotag_input_meme
    album_name_patterns: null
    asset_links: null
  - tag_names:
    - adult_meme
    - autotag_input_adult_meme
    album_name_patterns: null
    asset_links: null
  - tag_names:
    - autotag_input_pending_review
    album_name_patterns: null
    asset_links: null
  - tag_names:
    - autotag_input_ignore
    album_name_patterns: null
    asset_links: null
  - tag_names: null
    album_name_patterns:
    - ^\d{4}-(\d{2}(-\d{2})?)?
    asset_links: null
  autotag_unknown: autotag_output_unknown
  autotag_conflict: autotag_output_conflict
duplicate_processing:
  autotag_album_date_mismatch: autotag_output_album_date_mismatch
  autotag_album_conflict: autotag_output_duplicate_asset_album_conflict
  autotag_classification_conflict: autotag_output_duplicate_asset_classification_conflict
  autotag_classification_conflict_prefix: autotag_output_duplicate_asset_classification_conflict_
  date_correction:
    enabled: true
    extraction_timezone: Europe/Madrid
album_detection_from_folders:
  enabled: true
  excluded_paths:
  - whatsapp
create_album_from_date_if_missing: true
