# Prevent Jenkins logs folder from being deleted or ignored by git
jenkins_logs/
!jenkins_logs/README.md
__pycache__
/.venv
/immich-client
/logs
/.idea
/profile.stats
/dist
/immich_autotag.egg-info
/immich_client
/docker_output
docker_logs
/logs_docker_cron
/immich-client.back
/logs_local
/jenkins.log
/immich_client.back
/profile(1).stats
/profile_optimized.stats

# Python cache and type checking
.mypy_cache/
.pytest_cache/
*.pyc
.coverage