version: '3.8'
services:
  autotag-cron:
    image: txemi/immich-autotag:cron
    container_name: autotag-cron
    restart: unless-stopped

    volumes:
      # Mounts configuration from $HOME/.config/immich_autotag (environment variable)
      - ${HOME}/.config/immich_autotag:/root/.config/immich_autotag
      # Mounts logs from the local project path
      - ./docker_logs:/root/logs
